/*
// purples
// light #912c8c
// dark  #64308e

// greys
// darkest #616b76
// dark   #afbdc5
// med    #e0e5e8
// light  #eceff1
// lighter #ebeef0

*/

body {
    background-color: #e0e5e8;
    color: #616b76;
    height: 100%;
    font-size: 16pt;
    font-family: 'Roboto Condensed';
    padding: 0;
    margin: 0;
}

/* Top Bar */

.header {
    background-color: #912c8c;
    height: 10vh;
}

.header__text {
    color: white;
    padding: 1em 2em 0;
}

/* Menu */
.menu {
    background-color: #64308e;
    color: white;
    right: 0;
    top: 0;
    padding: 0.8em;
    position: absolute;
    z-index: 9;
}
.menu a {
    color: white;
    text-decoration: none;
}

.menu .menu__nav ul{
    display: none;
}

.menu .menu__title i {
    text-align: right;
}

.menu--active {
    width: 60%;
    height: 100%;
}

.menu.menu--active {
    -moz-box-shadow: -1px 1px 1px #444;
    -webkit-box-shadow: -1px 1px 1px #444;
    box-shadow: -1px 1px 1px #444;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=270, Color='#444444')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=270, Color='#444444');

}

.menu.menu--active .menu__nav ul {
    display: block;
}

.menu__nav ul {
    padding: 0;
    list-style: none;
}

.menu__nav ul li a {
    padding: 1em 0;
    display: block;
}

/* Sign Up Form */

.sign-up-form {
    background-color: #ebeef0;
    overflow: auto;
    padding: 2em;
}

.sign-up-form input {
    padding: .6em;
    margin: 0 0 .3em;
    width: 100%;
}

.sign-up-form__actions button {
    background-color: #64308e;
    border: 0;
    color: white;
    border-radius: 4px;
    padding: .8em;
}

.sign-up-form__actions div {
    width: 50%;
    float: left;
}

.sign-up-form__actions a {
    color: #afbdc5; /* darkest */
    text-decoration: none;
}

/* Colophon */

.colophon {
    bottom: 30px;
    left: 2em;
    position: absolute;
}
